<html>
  <head>
    <title>Schnekk</title> 
    <style>
        body { font-family: Helvetica, sans-serif; }
        p { font-size: 0.9rem; }
    </style>
    <link rel="shortcut icon" href="<%=rootUrl%>public/schnekk_favicon.png" type="image/png">
    <script src="<%=rootUrl%>public/p5.min.js"></script>
    <script src="<%=rootUrl%>public/p5_snake.js"></script>
  </head>
  <body>
    <h2>Schnekk</h2>
    <div id="sketch-holder">
      <!-- p5 sketch goes here -->
    </div>
    <p>
      Turn: Arrow keys<br>
      Restart: ENTER<br>
      Pause: SPACE<br>
      Select multiplier: 1, 2 or 3<br>
    </p>
    <p>Views: <%=views%></p>
  </body>
</html>
